body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-bottom: 0px;
  display: block;
}

.produce-background {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.4)
  ), url("produce.jpg");
  background-position: center;
  height: 800px;
}

.flash {
  margin: 0px 20px;
}

.top-bar {
  background-color: #fefefe;
  margin-left: 20px;
}

.top-bar-section {
  margin-left: auto;
  margin-right: right;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
}

a {
  color: #6E6E6E;
  margin: 20px;

  &:hover {
    color: #D8CF04;
    font-weight: bold;
  }
}

li {
  list-style-type: none;
  background-color: #fefefe;
}

#nav-heading {
  color: #d8cf06;
  font-size: 3rem;
  font-weight: bold;
  margin: 5px;
}

.about.callout {
  background-color: #fefefe;
  text-align: center;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  border-radius: 10px;
}

h1 {
  font-size: 30px;
  margin: 20px 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.summary-heading {
  margin: 20px;
  font-size: 20px;
  text-align: left;
}

.summary-text {
  margin: 0px 30px 20px 30px;
}

span {
  font-size: 25px;
}

.center-text {
  text-align: center;
}

.button {
  background-color: #f4ea00;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin: 15px 10px;
  min-width: 9rem;

  &:focus {
    background-color: #f4ea00;
  }

  &:hover {
    background-color: #D8CF04;
  }
}

.button a {
  color: black;

  &:focus {
    color: black;
  }

  &:hover {
    color: black;
  }
}

.menu a {
  color: black;

  &:focus {
    color: black;
  }

  &:hover {
    color: black;
  }
}

ul {
  background-color: #fefefe;
  margin-top: 10px;
}

.search-page {
  margin: 30px;
  margin-bottom: 150px;
  text-align: center;
}

.search {
  margin: 40px;
  text-align: center;
}

.inline {
  display: inline-block;
}

.search-bar {
  width: 75%;
}

.add-plant-form {
  text-align: center;
  margin: 30px;
}

.add-plant-button {
  width: 60%;
}

.profile-page {
  margin: 20px;
}

.plant-display {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.plant-tile {
  display: inline-block;
  margin: 20px;
  text-align: center;
}

.goal-section {
  text-align: center;
  margin-bottom: 40px;
}

.goal-section input {
  margin: 20px
}

.menu li {
  background-color: #D8CF04;
  padding-bottom: 20px;
  font-weight: 400;
}

.menu {
  background-color: #D8CF04;
}

.progress-display {
  margin: 60px auto;
}

.progress-bar-container {
  margin: 30px auto;
}

.progress-bar-outer {
  width: 85%;
  height: 2rem;
  border: none;
  border-radius: 10px;
  background-color: #B5CEB2;
  margin: 0px auto;
}

.progress-bar-inner {
  background-color: #64915F;
  height: 100%;
  box-sizing: content-box;
  border-radius: 10px;
}

.progress-percentage {
  font-size: 12px;
  text-align: right;
  padding: 5px 10px;
  margin: 0px;
  font-weight: bold;
}

.progress-message {
  font-size: 12px;
  text-align: left;
  margin-left: 45px;
  font-weight: bold;
}

.devise-margin {
  margin: 30px;
}


a.plant-tile {
  min-height: 130px;
}

.add {
  font-size: 35px;
}

.add-opacity {
  opacity: 0.2;
}

.remove {
  font-size: 20px;
}

.right-align {
  text-align: right;
}


